<div class="container text-center p-4">
<div class="row">
  <div class="col-12 border py-3">
    <h2>Your question: <%= @question %> </h2>
    <br>
    <h2> Coach answer: <%= @answer %> </h2>
    <br>
    <%= link_to "Ask again", ask_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
