
<div class="container text-center p-5">
  <h1>Talk with your coach</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
